.home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/sauti.jpg");
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkred;
}

.home-header .header-content {
  font-size: 3.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 65%;
  padding: 5%;
  margin: auto;
  background-color: rgba(17, 25, 33, 0.8);
  border-radius: 5px;
  margin-top: 12%;
  margin-left: 10% !important;
}

.home-header .header-content h3 {
  padding: 1%;
}

.home-header .header-content p {
  padding-top: 2%;
}

.header-container .signUpLink {
  background-color: darkred;
  border: 1px solid darkred;
  color: white;
  text-decoration: none;
  padding: 2% 2.5%;
  border-radius: 3px;
  font-size: 1.6rem;
  padding-top: 2%;
  margin-left: 31%;
}

.header-container .signUpLink:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #818181;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  padding: 3%;
  border: 1px;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
}

.home-content {
  font-size: 2.5rem;
  width: 40%;
}

.home-content p {
  font-size: 1.8rem;
  margin-bottom: 5%;
}

.home-content span {
  font-weight: bold;
}

.home-content button {
  border: 3px solid black;
  color: black;
  width: 160px;
  height: 48px;
  background-color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Libre Baskerville", serif;
  font-family: "Dosis", sans-serif;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}

.home-content button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.home-content .flow-button {
  margin-top: 20px;
}

.mission {
  background-color: darkred;
  width: 100%;
  color: white;
  padding: 5%;
  font-size: 3rem;
  text-align: center;
}

.home-list {
  font-size: 1.3rem;
  width: 40%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-list p {
  font-size: 2.2rem;
}

.home-content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fafafa;
  height: 600px;
  border: 1px;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.home-content2 h1 {
  margin: 10px;
  font-size: 3rem;
}

.home-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  height: 350px;
  border: 1px;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.home-info h1 {
  margin: 10px;
  font-size: 3rem;
}

.home-info p {
  margin: 10px;
  font-size: 2.0rem;
}

p.learn {
  margin: auto;
}

div.tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.tab-container iframe {
  margin: auto;
}

div.tab-container .in-thirds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

div.tab-container .in-thirds div {
  width: 31%;
}

div.tab-container .startLink {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 12%;
  background-color: darkred;
  border: 1px solid darkred;
  color: white;
  text-decoration: none;
  padding: 1%;
  border-radius: 3px;
  text-align: center;
  font-size: 1.6rem;
  margin: 4%;
}

div.contact-container {
  background-color: #454545;
  color: white;
}

div.contact-container header {
  text-align: center;
  margin: auto;
  padding: 1.5%;
}

div.contact-container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 35%;
  margin: auto;
}

div.contact-container .contact-form #contact-email-label {
  font-size: 1.3rem;
  padding-bottom: .5%;
}

div.contact-container .contact-form .contact-input {
  padding: 1% 2%;
}

div.contact-container .contact-form .contact-input-area {
  padding: 4% 2%;
  margin-top: 2%;
}

div.contact-container .contact-form .contactLink {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: darkred;
  border: 1px solid darkred;
  color: white;
  text-decoration: none;
  padding: 1%;
  border-radius: 3px;
  text-align: center;
  font-size: 1.6rem;
  margin: 2%;
  cursor: pointer;
}

div.footer {
  background-color: black;
}

div.footer .footer-content {
  padding: 1%;
}

div.footer .footer-content a {
  text-decoration: none;
  padding: 0 .5%;
  color: #c6c6c6;
}

div.footer .footer-content a span.red {
  color: tomato;
}

div.footer .footer-content a span.white {
  color: white;
}
/*# sourceMappingURL=home.css.map */