//hero img
.home-header {
  display: flex;  
  background-image: url('../images/sauti.jpg');
  height: 65vh;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-color: darkred;


  .header-content {
    font-size: 3.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 65%;
    padding: 5%;
    margin: auto;
    background-color: rgba(17, 25, 33, .8);
    border-radius: 5px;
    margin-top: 12%;
    margin-left: 10% !important;
    //need to position like in figma

    h3{
      padding: 1%;
    }
    p{
      padding-top: 2%;
    }
  }
}
.header-container{
  .signUpLink {
    background-color: darkred;
    border:1px solid darkred;
    color: white;
    text-decoration: none;            
    padding: 2% 2.5%;
    border-radius: 3px;
    font-size: 1.6rem;    
    padding-top: 2%;
    margin-left: 31%;
    //need to position with above container  
    
    &:hover{
      transition: 0.5s;
      color: #818181;
    }
  }
}


//desciption styles
.home-container {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 3%;
  border: 1px;
  color: black;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;

}
.home-content {
  font-size: 2.5rem;
  width: 40%;
  p{
    font-size: 1.8rem;
    margin-bottom: 5%;
  }
  span{
    font-weight: bold;
  }
  button {
    border: 3px solid rgb(0, 0, 0);
    color: black;
    width: 160px;
    height: 48px;
    background-color: inherit;
    transition: 0.3s;
    font-family: "Libre Baskerville", serif;
    font-family: "Dosis", sans-serif;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
  }

  button:hover {
    cursor: pointer;
    background: black;
    color: white;
  }

  
  .flow-button{
    margin-top: 20px;
  }
}


//mission statement styles
.mission{
  background-color: darkred;
  width:100%;
  color: white;
  padding: 5%;
  font-size: 3rem;
}
.home-list {
  font-size: 1.3rem;
  width: 40%;
  justify-content: flex-start;
  align-items: flex-start;
  p{
   font-size: 2.2rem;
  }
}

.home-content2 {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  height: 600px;
  border: 1px;
  color: black;
  justify-content: space-around;
  align-items: center;
  margin: 20px;

  h1 {
    margin: 10px;
    font-size: 3rem;
  }
}

.home-info {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  height: 350px;
  border: 1px;
  color: black;
  justify-content: space-around;
  align-items: center;
  margin: 20px;

  h1 {
    margin: 10px;
    font-size: 3rem;
  }

  p {
    margin: 10px;
    font-size: 2.0rem;
  }
}


//learn more video tab styles
p.learn{
  margin: auto;
}
div.tab-container{
  display: flex;
  flex-direction: column;

  iframe{
    margin: auto;
  }
  .in-thirds{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    div{
      width: 31%;
    }
  }  
  .startLink {
    align-self: center;
    width: 12%;
    background-color: darkred;
    border: 1px solid darkred;
    color: white;
    text-decoration: none;
    padding: 1%;
    border-radius: 3px;
    text-align: center;
    font-size: 1.6rem;
    margin:4%;
  }
}


//contact us styles
div.contact-container{
  background-color: #454545;
  color: white; 


  header{
    text-align: center;
    margin: auto;
    padding: 1.5%;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 35%;
    margin: auto;

    #contact-email-label{
      font-size: 1.3rem;
      padding-bottom: .5%;
    }
    .contact-input{
      padding: 1% 2%;
    }

    .contact-input-area{
      padding: 4% 2%;
      margin-top:2%;
    }

    .contactLink {
      align-self: flex-end;
      background-color: darkred;
      border: 1px solid darkred;
      color: white;
      text-decoration: none;
      padding: 1%;
      border-radius: 3px;
      text-align: center;
      font-size: 1.6rem;
      margin:2%;
  }
  }



}


//footer styles
div.footer{
  background-color: black;
  
  
  .footer-content{
    padding: 1%;

    a{
      text-decoration: none;
      padding: 0 .5%;
      color: #c6c6c6;

      span.red{
        color:tomato;
      }
      span.white{
        color:white;
      }
    }
  }
}

