.loginHero{
    background-image: url('../images/sauti2.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #818181;
    height: 100vh;
    display:flex;
	justify-content: center;
	align-content: center;
    .oktaForm{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 55%;
        padding: 5%;
        margin: auto;
        background-color: rgba(17, 25, 33, .8);
        border-radius: 5px;

        .oktaTitle{
            color:white;
            margin:auto;
            padding:3%;
            font-size: 3.6rem;
        }
        .oktaLabel{
              margin: auto;
              font-size: 2rem;
              padding: 3%;
              color:white;
        }
        .oktaInput{    
            padding: 2%;
          
        }
        .oktaSubmit{
            background-color: darkred;
            color:white;
            font-weight: bold;
            width: 25%;
            padding: 1.5%;
            border: none;
            border-radius: 3px;
            margin: auto;
            margin-top: 3%;
        }
        .oktaSignUp{
            margin:auto;
            padding-top: 4%;
            padding-bottom: 1%;
            color:white;
            font-size: 1.8rem;
        }
    }
}
