.loginHero{
    background-image: url("../images/sauti2.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #818181;
    height: 100vh;
    display:flex;
	justify-content: center;
	align-content: center;
    .oktaForm{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 55%;
        padding: 5%;
        margin: auto;
        background-color: rgba(17, 25, 33, .8);
        border-radius: 5px;

        .password-reqs{
            margin-top:3%;
            font-size: 1rem;
            color:rgba(253, 82, 110, 0.8);
            margin-left: 20%;

            .emphasize{
                font-weight:bold;
                font-size: 1.1rem;
                margin-left: 18%;
                
            }
        }

        .oktaTitle{
            color:white;
            margin:auto;
            padding:3%;
            font-size: 3.6rem;
        }
        .oktaLabel{
              margin: auto;
              font-size: 2rem;
              padding: 3%;
              color:white;
        }
        .oktaInput{    
            padding: 2%;
          
        }
        .oktaLoginInput{    
            padding: 2%;
            font-size: 1.6rem;
            margin: auto;
            margin-top: 1.5%;        
        }
        .oktaSubmit{
            background-color: darkred;
            color:white;
            font-weight: bold;
            width: 25%;
            padding: 1.5%;
            border: none;
            border-radius: 3px;
            margin: auto;
            margin-top: 3%;
        }
        .oktaSignUp{
            margin:auto;
            padding-top: 4%;
            padding-bottom: 1%;
            color:white;
            font-size: 1.8rem;
        }
        .oktaEntry{
            margin: auto;
            font-size: 1.8rem;
            padding: 1.5%;
            margin-top: 1.5% !important;
        }
        .oktaError{
            color: rgba(253, 82, 110, 0.8);
            font-weight: bold;
            font-size: 1.7rem;
            margin: auto;
        }
    }
}
