.loginHero{
    background-image: url("../images/sauti2.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #818181;
    display:flex;
	justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    .oktaForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding: 2%;
        margin: 4.5%;
        background-color: rgba(17, 25, 33, .8);
        border-radius: 5px;
        .password-reqs{
            // margin:1%;
            font-size: 1.2rem;
            color:white;
            text-align: center;
            margin-top: 1%;

            .emphasize{
                font-weight:bold;
                font-size: 1.4rem;
            }
        }

        .oktaTitle{
            display: flex;
            justify-content: center;
            color:white;
            font-size: 3.6rem;
            width: 100%;
            
        }
        .oktaSubtitle{            
                font-size: 1.8rem;
                text-align: center;
                color:white;   
                width: 100%;         
        }
        .oktaLabel{
              margin: auto;
              font-size: 2rem;
              padding: 1%;
              color:white;
        }
        .oktaInput{    
            padding: 2%;
          
        }
        .inputLabelSpan{
            display: flex;
            flex-direction: column;
            align-items: center;
            color:white;
            width: 60%;

            .oktaLoginInput{    
            font-size: 1.6rem;  
            width: 100%;   
            padding: 1.5% 0.5%;
            }
            .inputLabel{
                color:white;
                width: 100%;
                font-size: 1.4rem;
                margin-top: 2%;
            }
        }
        .oktaSubmit{
            background-color: darkred;
            color:white;
            font-weight: bold;
            width: 60%;
            padding: 1.5%;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-top: 2%;

            &:hover{
                transition: 0.2s;
                color: #818181;
              }
        }
        .oktaSignUp{
            margin:auto;
            padding-top: 4%;
            padding-bottom: 1%;
            color:white;
            font-size: 1.8rem;
        }
        .oktaEntry{
            margin: auto;
            font-size: 1.8rem;
            padding: 1.5%;
            margin-top: 1.5% !important;
        }
        .oktaError{
            color: rgba(253, 82, 110, 0.8);
            font-size: 1.6rem;
            padding: 0;
            margin: 0;
        }
        
    }
    .oktaForm2{
        margin: 10% 2%;
    }
    
}