.navbar {
  display: flex;
  flex-direction: row;
  background-color:white;
  height: 6%;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2%;

.nav-title-box {
  display: flex;
  flex-direction: column;
  align-items:center;    
  width: 14%;
  background-color: #1a1e23;
 
  

  .nav-title-content {
    padding: 0;
    a {
      font-size: 4rem;
      text-decoration: none;
      color: white;
      &:hover{
        transition: 0.5s;
        color: $tomato;
      }
    }
  }
}
  .navbar-options {
    font-size-adjust: 1rem;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    width: auto;

    .navbar-links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;

        a{
            font-size: 1.8rem;
            text-decoration: none;
            color: #303030;
            padding: 7% .75%;
            margin-left: -10%;
            &:hover{
              transition: 0.5s;
              color: darkred;
            }
        }
        .signUpLink {
            background-color: darkred;
            border:1px solid darkred;
            color: white;
            font-weight: bold;
            text-decoration: none;            
            padding: 7% .75%;
            border-radius: 3px;
            font-size: 1.8rem;
            margin-left: -10%;
            
            &:hover{
              transition: 0.5s;
              color: #818181;
            }
          }
          
      }
      //not sure where below code renders to, might need to be logged in to see
      .navbar-links-2 {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        text-decoration: none;
    
        a {
            color: white;
            text-decoration: none;
            &:hover{
              transition: 0.5s;
              color: $tomato;
            }
          }
      }
}
}