.navbar {
  background-color: #1a1e23;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .nav-title-box {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #1a1e23;
    padding: 0 1%;
    width: auto;

    .nav-title-content {
      text-align: center;
      padding: 1%;
      width: 150px;
      a {
        font-size: 4rem;
        text-decoration: none;
        color: white;
        &:hover{
          transition: 0.5s;
          color: $tomato;
        }
      }
    }
  }

  .navbar-options {
    text-align: center;
    font-size-adjust: 1rem;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1%;

    .navbar-links {
        display: flex;
        justify-content: space-between;
        text-decoration: none;

        a{
          //justify-self: flex-start;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          text-decoration: none;
          color:white;
          height: 35px;
          width: 100px;
          
          &:hover{
            transition: 0.5s;
          
          }
        }
        .signUpLink {
          //justify-self: flex-end;
          text-align: center;
          background-color: darkred;
          border:1px solid darkred;
          color: white;
          font-weight: bold;
          text-decoration: none;     
          border-radius: 3px;    
          
          &:hover{
            transition: 0.5s;
            color: #818181;
          }
        }
          
    }
      
    //not sure where below code renders to, might need to be logged in to see
    .navbar-links-2 {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      text-decoration: none;
  
      a {
          color: white;
          text-decoration: none;
          &:hover{
            transition: 0.5s;
            color: $tomato;
          }
        }
    }
  }
}