.profile-page-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 70px);

    .projects-section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2.5rem;
        // background: $snow;

        .projects-list{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            overflow-y: auto;
            margin-top: 1%;
            margin-bottom: 2rem;
            padding-top: 2rem; 
            height: 100%;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* IE 10+ */
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent; /* Chrome/Safari/Webkit */           
            }
            .add-button-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid lightgray;                 
                // background-color: $snow;
                color:black;
                width: 28.9rem;
                height: 30rem;
                margin-top: 0.45%;
                margin-left: 0.6%;

                i{
                    color: white;
                    background-color: darkred;
                    border: 8px solid darkred;
                    border-radius: 50%;
                    font-size: 5rem;
                }
            }
            .project{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                
                .title-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 2%;
                    padding: 2%;
                    align-items: center;
                    border: 1px solid lightgray;                 
                    // background-color: $snow;
                    color:black;
                    width: 30rem;
                    height: 30rem;
                    
                    h3{
                        font-size: 2.4rem;
                        text-align: center;
                        margin: 1%;
                        margin-bottom: 10%;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                    .project-card-buttons{
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        align-content: stretch;

                        button{
                            // background-color: $snow;
                            background-color: white;
                            font-size: 1.4rem;
                            border:none;
                            cursor: pointer;
                            // justify-self: flex-start;
                        }
                        .emphasize{
                                color:darkred;
                                
                                // justify-self: flex-end;
                                
                        }
                    }

                }

            }
        }
    }
}