.user-menu-container{
    border-left: 2px solid gray;

    .user-menu-icon{
        font-size: 1.4rem;
        width: 150px;
        color:white;
    }

    
    a.user-menu-link{
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        padding: 5%;
    }
    

}