// Colors
$accent: darkred;
$darkgray: #454545;
$snow: snow;

// Mobile
$mobile: (max-width: 600px);

// Tablet
$tablet: (max-width: 900px);

//We should be able to delete these
$darkslateblue: #575a88;
$tomato: darkred;
$darkslategray: darkslategray;

